SAVEIDCDLG DIALOG 0, 0, 260, 42
STYLE DS_3DLOOK | DS_CONTROL | DS_CONTEXTHELP |  WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
begin
 CONTROL "Split output", 101, "button", BS_AUTOCHECKBOX | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 16, 80, 16
end
